<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rp3.pos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rp3.pos.SearchableActivity"
            android:label="@string/title_activity_searchable" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
         <activity
            android:name="rp3.pos.StartActivity" android:theme="@style/AppTheme.NoTitleBar"
            >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rp3.pos.MainActivity" >
            
            <!-- Only Required for search dialog -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name="rp3.pos.TransactionDetailActivity"
            android:parentActivityName=".TransactionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TransactionListActivity" />
        </activity>
        <activity
            android:name="rp3.security.activity.LoginActivity"
            android:label="@string/title_transaction_detail" >
        </activity>
        <activity
            android:name="rp3.pos.TransactionDetailItemActivity"
            android:label="@string/title_transaction_detail" >
        </activity>
        <activity
            android:name="rp3.pos.transaction.TransactionEditActivity"
            android:label="@string/title_activity_transaction_edit"
            android:parentActivityName="rp3.pos.TransactionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rp3.pos.TransactionListActivity" />
        </activity>
        <activity
            android:name="rp3.pos.client.SearchClientActivity"
            android:label="@string/title_activity_transaction_edit"
            android:parentActivityName="rp3.pos.TransactionListActivity" >
        </activity>
        <activity
            android:name="rp3.pos.product.ProductSearchActivity"
            android:label="@string/title_activity_transaction_edit" >
        </activity>
        <activity
            android:name="rp3.pos.transaction.TransactionEditItemActivity"
            android:label="@string/title_activity_transaction_edit" >
        </activity>
        <activity android:name="rp3.accounts.AuthenticatorActivity" android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">                        
        </activity>
		<service android:name="rp3.accounts.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>      

        <service
                android:name="rp3.pos.sync.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
        
        <provider
            android:name="rp3.content.StubProvider"
            android:authorities="rp3.pos.provider"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>